MAIL_SUBJECT_AF_CLOSED_BASE = ""
MAIL_CONTENT_AF_CLOSED_ADDITION = ""
MAIL_CONTENT_AF_CLOSED_PDF = ""
MAIL_CONTENT_AF_CLOSED_GREETINGS = ""
DEMARCHE_SIMPLIFIEES_URL = "https://www.demarches-simplifiees.fr/api/v2/graphql"
DEMARCHE_SIMPLIFIEES_TOKEN = "token"