MAIL_SUBJECT_AF_CLOSED_BASE = ""
MAIL_CONTENT_AF_CLOSED_ADDITION = ""
MAIL_CONTENT_AF_CLOSED_PDF = ""
MAIL_CONTENT_AF_CLOSED_GREETINGS = ""


[DEMARCHES_SIMPLIFIEES]
URL = "https://www.demarches-simplifiees.fr/api/v2/graphql"
TOKEN = "token"
LIBELLE_ID = "Q2hhbXAtMTE0NzQ4"
DESCRIPTION_ID = "Q2hhbXAtMTE0NzQ5"
DATE_FIN_ID = "Q2hhbXAtMTE0Nzgy"