<div
  id="all"
  class="container-fluid"
>
  <div class="container card file-container">
    <div class="card-content">
      <div class="input-group">
        <div class="card-body text-center">
          <h1 class="card-title">Vérifier votre numéro de dossier</h1>
          <h2 class="card-subtitle">
            Permet de vérifier si le numéro de dossier existe sur Démarches Simplifiées
          </h2>
          <div class="export-content">
            <div class="search-container">
              <input
                type="text"
                id="dossier-input"
                class="form-control"
                placeholder="Numéro de dossier"
                [(ngModel)]="fileNumber"
                (keyup.enter)="fileNumber && !isLoading && isValidInteger(fileNumber) && getFile()"
              />
              <button
                class="search-button"
                (click)="getFile()"
                [disabled]="!fileNumber || isLoading || !isValidInteger(fileNumber)"
              >
                <i class="fa fa-search"></i>
              </button>
            </div>
            <div
              *ngIf="isLoading"
              class="loader"
            >
              <mat-spinner diameter="40"></mat-spinner>
            </div>
            <div
              class="result-message"
              *ngIf="message"
            >
              <div [class]="'alert ' + (isError ? 'alert-danger' : 'alert-success')">
                {{ message }}
              </div>
            </div>
            <div
              *ngIf="fileData && !isLoading"
              class="file-data card mt-4 p-3"
            >
              <h3 class="text-secondary d-flex align-items-center">
                <i class="fa fa-folder-open mr-2"></i>
                Informations du dossier :
              </h3>
              <ul class="list-unstyled mt-3">
                <li class="mb-2">
                  <span class="font-weight-bold text-secondary">
                    <i class="fa fa-id-card mr-2 text-secondary"></i>
                    ID:&nbsp;
                  </span>
                  {{ fileData.id }}
                </li>
                <li class="mb-2">
                  <span class="font-weight-bold text-secondary">
                    <i class="fa fa-tag mr-2 text-secondary"></i>
                    Libellé:&nbsp;
                  </span>
                  {{ fileData.libelle }}
                </li>
                <li class="mb-2">
                  <span class="font-weight-bold text-secondary">
                    <i class="fa fa-file-text mr-2 text-secondary"></i>
                    Description:&nbsp;
                  </span>
                  {{ fileData.description }}
                </li>
                <li class="mb-2">
                  <span class="font-weight-bold text-secondary">
                    <i class="fa fa-hashtag mr-2 text-secondary"></i>
                    Numéro:&nbsp;
                  </span>
                  {{ fileData.number }}
                </li>
                <li class="mb-2">
                  <span class="font-weight-bold text-secondary">
                    <i class="fa fa-info-circle mr-2 text-secondary"></i>
                    État:&nbsp;
                  </span>
                  {{ fileData.state }}
                </li>
                <li class="mb-2">
                  <span class="font-weight-bold text-secondary">
                    <i class="fa fa-calendar mr-2 text-secondary"></i>
                    Date de fin:&nbsp;
                  </span>
                  {{ fileData.date_fin || 'Non spécifiée' }}
                </li>
              </ul>
            </div>

            <div
              *ngIf="fileData && !isError && !isLoading"
              class="create-af-button"
            >
              <button
                class="btn btn-success"
                (click)="createAF()"
              >
                <i class="fa fa-plus-circle mr-2"></i>
                Créer CA associé
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
